<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="AppName" value="springlearn" />
	<!-- 控制台日志 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${AppName} %d %-5p [%thread] %c:%L - %m%n</pattern>
		</encoder>
	</appender>
	<!-- 错误日志 -->
	<appender name="errorFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d %-5p [%thread] %c:%L - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/${AppName}/log_%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>
	<!-- 数据库访问较慢的语句 -->
	<appender name="sqlFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>%d [%thread] %c:%L-%m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/${AppName}/sql_%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
	</appender>
	<logger name="com.alibaba.druid.filter.stat.StatFilter" additivity="false" level="DEBUG">
		<appender-ref ref="sqlFile" />
	</logger>
	
	
	<logger name="org" level="ERROR" />
	
	<root level="DEBUG">
		<appender-ref ref="stdout" />
		<appender-ref ref="errorFile" />
	</root>
</configuration>